.background-text {
	max-width: 90%;
	left: 15px;
	top: 15px;
	position: fixed;
	z-index: 1;
}

.mainText {
	max-width: 80%;
	max-height: 80%;
	left: 5%;
	bottom: 22%;
	position: absolute;
}

.layer7 {
	width: 17%;
	position: absolute;
	left: -8%;
	top: 10%;
	z-index: -10;
}

.pinkTwo {
	position: absolute;
	width: 35%;
	bottom: 55%;
	left: 38%;
	z-index: 2;
}

.layer4c2 {
	position: absolute;
	right: 4%;
	top: 4%;
	width: 10%;
}

.pinkOne {
	position: absolute;
	width: 25%;
	bottom: 5%;
	left: -5%;
}

.layer4c {
	position: absolute;
	bottom: 10%;
	width: 7%;
	left: 35%;
}

.bakti_one {
	position: absolute;
	width: 7%;
	left: 5%;
	bottom: 30%;
	z-index: -10;
	transform: translate(0);
	animation: reverse-translate 7s linear infinite;
}

@keyframes reverse-translate {
	0% {
		transform: translate(0);
	}
	50% {
		transform: translate(40%, 120%);
	}
	100% {
		transform: translate(0);
	}
}

.bakti_two {
	position: absolute;
	width: 7%;
	right: 20%;
	top: 8%;
	z-index: -10;
	transform: translate(0);
	animation: reverse-translate-two 6s linear infinite;
}

@keyframes reverse-translate-two {
	0% {
		transform: translate(0);
	}
	50% {
		transform: translate(40%, 10%);
	}
	100% {
		transform: translate(0);
	}
}

.layer8 {
	position: absolute;
	width: 10%;
	right: 15%;
	top: 15%;
	transform: translate(0);
	animation: translate-three 12s linear infinite;
}

@keyframes translate-three {
	0% {
		transform: translate(0);
	}
	25% {
		transform: translate(-20%, -30%);
	}
	50% {
		transform: translate(45%, -8%);
	}
	75% {
		transform: translate(10%, 30%);
	}
	100% {
		transform: translate(0);
	}
}

.layer4 {
	position: absolute;
	width: 20%;
	right: 20%;
	bottom: -12%;
	transform-style: preserve-3d;
  animation: zoom-in-out 10s ease-in-out infinite;
	z-index: -10;
}

@keyframes zoom-in-out {
  0% {
    transform: translate3d(0)
  }
  25% {
    transform: translateZ(100px);
  }
	75% {
		transform: translateZ(100px);
    transform: translate(-20%, -20%);
	}
  100% {
    transform: translate(0);
  }
}