.mainDiv {
	width: 300%;
	height: 100vh;
	transition: transform 0.5s ease;
	display: flex;
}

.background {
	position: relative;
	height: 100vh;
	width: 300vw;
}

@mixin slideParam ($left) {
	position: absolute;
	display: flex;
	flex-shrink: 0;
	width: 100vw;
	height: 100vh;
	perspective: 1000px;
	left: $left;
}

.firstSlide {
	@include slideParam(0);
}

.secondSlide {
	@include slideParam(100vw);
}

.thirdSlide {
	@include slideParam(200vw);
}

@mixin useSize ($position, $width, $left) {
	position: $position;
	width: $width;
	left: 	$left;
	z-index: 1;
}

.buttonImg {
	@include useSize (absolute, 9%, 18%);
	bottom: 23%;
	cursor: pointer;
}

.homeBtn {
	@include useSize (fixed, 2vw, 3vw);
	top: 5vh;
	cursor: pointer;
}

.onpointLogo {
	@include useSize (fixed, 5vw, 3vw);
	bottom: 5vh;
}
.projectLogo {
	@include useSize (fixed, 9vw, 6vw);
	top: 5vh;
}
